DATABASE_URL=postgresql://postgres:WusmnWGQy48rW7%23@db.ayzjqbjraajwmcpxcmww.supabase.co:5432/postgres
JWT_SECRET=mood_wave_1234567890
GEMINI_API_KEY=AIzaSyCvX4o4QzZmW1etM3P4723qyyRex-XYYII
LASTFM_API_KEY=a1640de378d6565009a6c2bd2e8cc7f5
PORT=5000
FRONTEND_URL=http://localhost:5173
